@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  align-content: start;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button-yellow {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
}

.page-header {
  background-color: #ffe17f;
  margin: 0 auto;
  margin-top: 40px;
  width: 1160px;
}

.header-logo {
  margin-top: -22px;
  margin-left: 60px;
  display: block;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.user-menu-link {
  color: #000000;
  text-decoration: none;
}

.header-search {
  display: flex;
}

.header-search-text {
  padding-left: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 360px;

  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: 2px solid #000000;
  background-color: #ffe17f;
  outline: none;

  line-height: 20px;
  font-size: 16px;
}

.header-search-text::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
}

.header-search-button {
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  font-size: 16px;
  color: #000000;
  width: 158px;
  border: 2px solid #000000;
  border-left: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #ffe17f;
  padding: 8px;
  padding-bottom: 8px;
}

.page-navigation {
  margin-bottom: 145px;
}

.page-navigation-list {
  list-style-type: none;
  display: flex;
  gap: 46px;
  margin: 0;
  padding: 0;
  align-items: center;
  padding-left: 60px;
  padding-right: 56px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.page-navigation-item:first-child {
  margin: 0;
  margin-right: auto;
}

.page-navigation-link:first-child {
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.user-container {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 28px;
  margin-bottom: 42px;
}

.user-menu-list {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 60px;
  align-items: center;
  list-style-type: none;
}

.user-menu-item:nth-child(1) {
  margin-right: auto;
  margin-left: 53px;
}

.main-container {
  flex-grow: 1;
}

.heading {
  font-family: "Raleway", sans-serif;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.slider {
  margin-top: -170px;
}

.slider-image {
  margin-right: auto;
  height: 560px;
  width: 560px;
}

.slider-list {
  margin: 0;
  padding: 0;
  margin-top: 19px;
}

.slider-item {
  display: none;
}

.slider-slogan {
  font-size: 50px;
  margin: 0;
  margin-bottom: 29px;
  margin-right: 15px;
}

.slider-information p {
  margin-bottom: 55px;
}

.slider-item-active {
  display: flex;
}

.slider-information {
  margin-left: 40px;
  margin-bottom: 38px;
  margin-top: 123px;
}

.slider-data {
  display: flex;
  gap: 20px;
  margin-top: 55px;
  flex-wrap: wrap;
}

.slider-data-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  align-items: start;
}

.slider-data-name {
  font-size: 16px;
}

.slider-data-info {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}

.slider-about {
  padding: 10px 38px;
  text-align: center;
  background-color: #ffcc33;
}

.category-list {
  padding: 0;
  margin: 0;
  padding-top: 245px;
  margin-bottom: 182px;
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.category-item {
  width: 160px;
  line-height: 24px;
}

.category-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.36px;
}

.delivery-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: #f0f0f0;
  display: block;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 32px;
  text-align: center;
  margin-bottom: 70px;
}

.advantages {
  background-color: #f0f0f0;
  display: flex;
  margin-bottom: 70px;
}

.advantages-container {
  display: flex;
  padding-top: 25px;
  padding-bottom: 38px;
  margin-top: -103px;
  margin-bottom: 70px;
}

.advantages-item {
  display: none;
}

.advantages-item-active {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin-left: 85px;
}

.advantages-name {
  font-size: 50px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
}

.advantages-button-list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 35px;
}

.advantages-button-active {
  width: 280px;
  background-color: #000000;
}

.advantages-button {
  background-color: #000000;
  color: #ffe17f;
  padding-top: 9px;
  padding-bottom: 11px;
  width: 160px;
  border: none;
  cursor: pointer;
}


.info-container {
  display: flex;
  gap: 108px;
}

.meta-information {
  width: 520px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.meta-information p {
  margin: 0;
}

.meta-information .heading {
  margin-top: 45px;
  margin-bottom: 18px;
}

.meta-information-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 35px;
}

.meta-information-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
  margin-bottom: 19px;
}

.meta-information-item:last-child {
  margin-bottom: 0;
}

.meta-information-button {
  align-self: start;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
}

.meta-information-subtitle {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
}

.meta-information-address {
  font-style: normal;
}

.meta-information-telephone {
  color: #444444;
  text-decoration: underline;
}

.newsletter {
  background-color: #f0f0f0;
  margin-top: 62px;
  margin-bottom: 56px;
}

.newsletter .heading {
  margin: 0;
  padding-left: 7px;
  width: 350px;
}

.newsletter p {
  width: 560px;
  margin: 0;
  margin-top: 10px;
  margin-left: 255px;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
}

.newsletter-heading-container {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  margin-bottom: 144px;
}

.newsletter-heading-container + p {
  display: block;
  margin-left: auto;
}

.newsletter-form-container {
  display: flex;
}

.newsletter-form-container span {
  margin-left: auto;
  align-self: center;
}

.newsletter-form {
  display: flex;
}

.newsletter-email-field {
  width: 560px;
  padding-top: 11px;
  padding-bottom: 14px;
  padding-left: 16px;
  background-color: #f0f0f0;
  border: 0;
  padding-right: 0;
  border-bottom: 3px solid #cecece;
  font-size: 18px;
}

.newsletter-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.6px;
  padding: 15px 33px;
  border: 3px solid #cecece;
}

.page-footer {
  background-color: #444444;
  color: #ffffff;
}

.footer-container {
  margin-top: 62px;
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "flogo . ." "address advantages tel" ". media logo";
}

.footer-logo {
  grid-area: flogo;
  margin-bottom: 35px;
}

.footer-info {
  line-height: 20px;
  font-size: 16px;
  grid-area: address;
}

.footer-navigation {
  grid-area: advantages;
  justify-self: center;
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 35px;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
  color: #ffffff;
}

.footer-tel {
  color: #ffffff;
  line-height: 20px;
  font-size: 16px;
  grid-area: tel;
  justify-self: end;
  margin-top: 7px;
  margin-right: 3px;
}

.media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-area: media;
  justify-self: center;
  align-self: center;
}

.htmlacademy-logo {
  grid-area: logo;
  justify-self: end;
  align-self: center;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.catalog-filter {
  background-color: #f0f0f0;
}

.product-sort {
  background-color: #f0f0f0;
}

.product-cards-pagination {
  background-color: #f0f0f0;
}

.catalog-heading {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-type {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.36px;
  color: #000000;
}

.control {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.product-sort-item {
  font-weight: 400;
  color: #000000;
}

.product-cards-link {
  text-decoration: none;
}

.product-cards-title {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
}

.product-cards-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.product-cards-pagination-link {
  text-decoration: none;
  line-height: 20px;
  color: #444444;
}

.pagination-move {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

